---
/*
  Mukul's Personal Website is a Personal Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <main class="h-screen grid place-items-center bg-gray-700 dark:bg-gray-950">
    <div class="text-center">
      <p class="text-base font-semibold text-red-500">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl text-white">Page not found</h1>
      <p class="mt-6 text-base leading-7 font-semibold text-gray-400 text-pretty">Sorry, we couldn't find the page you're looking for.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-white hover:bg-red-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all motion-reduce:transition-none text-sm focus:ring-offset-gray-800">
          Go back home
        </a>
      </div>
    </div>
  </main>
</Layout>

<script>
  function setup() {
    const docList = document.documentElement.classList;

    // Theme
    if (localStorage.getItem("theme") === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
      docList.add("dark");
      localStorage.setItem("theme", "dark");
    } else {
      docList.remove("dark");
      localStorage.setItem("theme", "light");
    };
  };

  setup();
  document.addEventListener("astro:after-swap", setup);
</script>