---
/*
  Mukul's Personal Website is a Website
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Default.astro";

import LanguageCard from "@/components/LanguageCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
---

<Layout title="Home">
  <Nav />
  <main class="grid place-items-center lg:grid-flow-col gap-4 p-8">
    <div class="flex flex-col sm:flex-row sm:gap-12 lg:flex-col lg:gap-0">
      <i class="fa-solid fa-laptop-code size-60 text-black dark:text-white"></i>
      <div class="space-y-1 font-bold sm:mt-6 lg:mt-0">
        <h1 class="flex text-4xl text-black dark:text-white">
          Hi, I'm&nbsp;<span class="text-accent">Mukul</span>
        </h1>
        <h2 class="md:text-xl">A Self-Taught Developer</h2>
        <br />
        <a class="flex items-center gap-2">
          <i class="fa-solid fa-location-crosshairs"></i>
          Michigan, US
        </a>
        <a class="flex items-center gap-2">
          <i class="fa-regular fa-clock"></i>
          UTC - 4:00
        </a>
        <a class="flex items-center gap-2">
          <i class="fa-regular fa-envelope"></i>
          mukul@mookul.dev
        </a>
      </div>
    </div>

    <div class="grid gap-4 sm:grid-flow-col">
      <div class="flex flex-col gap-2">
        <LanguageCard icon="html" name="HTML" label="Proficient" percentage={95} />
        <LanguageCard icon="css" name="CSS" label="Proficient" percentage={95} />
        <LanguageCard icon="js" name="Javascript" label="Proficient" percentage={95} />
        <LanguageCard icon="ts" name="Typescript" label="Proficient" percentage={95} />
        <LanguageCard icon="cs" name="C" label="Learning" percentage={75} />
        <LanguageCard icon="cs" name="C#" label="Learning" percentage={75} />
        <LanguageCard icon="cpp" name="C++" label="Learning" percentage={75} />
        <LanguageCard icon="zig" name="Zig" label="Learning" percentage={75} />
        <LanguageCard icon="java" name="Java" label="Proficient" percentage={95} />
        <LanguageCard icon="kotlin" name="Kotlin" label="Proficient" percentage={95} />
        <LanguageCard icon="py" name="Python" label="Proficient" percentage={95} />
      </div>
      <div class="flex flex-col gap-2">
        <ProjectCard name="MeteoNow" description="A weather app made with the Open-Meteo API" year="2023" url="//meteonow.mookul.dev" />
        <ProjectCard name="More Soon!" description="I'll be working on more soon enough :)" year="Future" />
      </div>
    </div>
  </main>
</Layout>
