---
/*
  Mukul's Personal Website is a Website
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";

import LanguageCardList from "@/components/LanguageCardList.astro";
import ProjectCard from "@/components/ProjectCard.astro";

import laptopBinary from "@/assets/fontawesome/laptop-binary.svg?raw";
import locationCrosshairs from "@/assets/fontawesome/location-crosshairs.svg?raw";
import clock from "@/assets/fontawesome/clock.svg?raw";
import envelope from "@/assets/fontawesome/envelope.svg?raw";
---

<Layout title="Home">
  <Nav />
  <main class="grid place-items-center gap-4 sm:p-8 lg:grid-flow-col">
    <div class="flex flex-col sm:flex-row sm:gap-12 lg:flex-col lg:gap-0">
      <div set:html={laptopBinary} class="flex size-60 items-center fill-black dark:fill-white" />
      <div class="mt-6 space-y-1 font-bold sm:mt-0">
        <h1 class="flex text-4xl text-black dark:text-white">
          Hi, I'm&nbsp;<span class="text-accent">Mukul</span>
        </h1>
        <h2 class="md:text-xl">A Self-Taught Developer</h2>
        <br />
        <div class="flex items-center gap-2">
          <div set:html={locationCrosshairs} class="size-4 fill-current" />
          Michigan, US
        </div>
        <div class="flex items-center gap-2">
          <div set:html={clock} class="size-4 fill-current" />
          UTC - 4:00
        </div>
        <div class="flex items-center gap-2">
          <div set:html={envelope} class="size-4 fill-current" />
          mukul@mookul.dev
        </div>
      </div>
    </div>

    <div class="grid gap-4 sm:grid-flow-col">
      <LanguageCardList />
      <div class="flex flex-col gap-2">
        <ProjectCard name="MeteoNow (V1)" description="A weather app made with the Open-Meteo API" date="April 2023" url="//v1.meteonow.pages.dev" />
        <ProjectCard name="MeteoNow (V2)" description="A weather app made with the Open-Meteo API" date="Feburary 2024" url="//v2.meteonow.pages.dev" />
        <ProjectCard name="MeteoNow (V3)" description="A weather app made with the Open-Meteo API" date="December 2024" url="//meteonow.mookul.dev" />
        <ProjectCard name="More Soon!" description="I'll be working on more soon enough :)" date="Future" />
      </div>
    </div>
  </main>
</Layout>
