---
/*
  Mukul's Personal Website is a Personal Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";

import html5 from "@/assets/html5.svg?raw";
import css3 from "@/assets/css3.svg?raw";
import js from "@/assets/js.svg?raw";
import python from "@/assets/python.svg?raw";
import java from "@/assets/java.svg?raw";
import csharp from "@/assets/csharp.svg?raw";

import LanguageCard from "@/components/LanguageCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";

import laptop from "@/assets/laptop.svg?raw";
---

<Layout title="Home">
	<Nav />
	<main class="w-screen p-2 xl:p-8">
		<div class="w-full grid place-items-center md:flex md:justify-center md:gap-4">
			<div class="text-black dark:text-white w-40">
				<Fragment set:html={ laptop } />
			</div>
			<div class="text-center md:text-left">
				<h1 class="font-bold text-4xl md:text-5xl text-black dark:text-white flex">Hi, I'm&nbsp;<p class="text-accent font-bold text-4xl md:text-5xl">Mukul</p></h1>
				<h2 class="font-bold text-md md:text-xl">A Self-Taught Developer</h2>
			</div>
		</div>
		<div class="h-5 md:h-20"></div>
		<div class="md:flex w-full justify-around">
			<div class="flex flex-col items-center gap-2">
				<LanguageCard image={ html5 } name="HTML" amount="Proficient" percentage={ 95 } />
				<LanguageCard image={ css3 } name="CSS" amount="Proficient" percentage={ 95 } />
				<LanguageCard image={ js } name="Javascript" amount="Proficient" percentage={ 95 } />
				<LanguageCard image={ python } name="Python" amount="Proficient" percentage={ 95 } />
				<LanguageCard image={ java } name="Java" amount="Learning" percentage={ 65 } />
				<LanguageCard image={ csharp } name="C#" amount="Learning" percentage={ 65 } />
			</div>
			<br class="md:hidden" />
			<div class="flex flex-col items-center gap-2">
				<ProjectCard name="MeteoNow" description="A weather app made with the Open-Meteo API" year="2023" url="//meteonow.pages.dev" />
				<ProjectCard name="More Soon!" description="I'll be working on more soon enough :)" year="Future" />
			</div>
		</div>
	</main>
</Layout>