---
/*
  Mukul's Personal Website is a Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/


interface Props {
  name: string;
  label: string;
  percentage: number;
}

const { name, label, percentage } = Astro.props;

const images = import.meta.glob("/src/assets/skillicons/*.svg", { query: "?raw", import: "default" });

const svg = images[`/src/assets/skillicons/${name.replace("#", "$Sharp$")}.svg`];

const finalSvg = decodeURI((await svg!()) as string);
---

<div class="max-w-96 rounded-box bg-neutral text-neutral-content transition-transform hover:scale-105">
  <div class="flex justify-between gap-10 px-4 py-3">
    <div class="flex items-center gap-2">
      <div set:html={finalSvg} class="size-8" />
      <h1 class="text-3xl font-bold">{name}</h1>
    </div>
    <div class="flex flex-col">
      <p class="font-semibold">{label}</p>
      <progress class="progress progress-primary h-2.5 w-20 bg-base-100" value={percentage} max="100"></progress>
    </div>
  </div>
</div>
