---
/*
  Mukul's Personal Website is a Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import { Image } from "astro:assets";

interface Props {
  icon: string;
  name: string;
  amount: string;
  percentage: number;
}

const { icon, name, amount, percentage } = Astro.props;
---

<div class="bg-neutral text-neutral-content rounded-box hover:scale-105 transition-transform">
  <div class="flex justify-between px-4 py-3 gap-10">
    <div class="flex items-center gap-2">
      <Image src={ icon } alt={ name } width={ 48 } height={ 48 } class="grid w-8 h-8 place-items-center" />
      <h1 class="text-3xl font-bold">{name}</h1>
    </div>
    <div class="flex flex-col">
      <p class="font-semibold">{amount}</p>
      <progress class="progress progress-accent w-20 h-2.5 bg-base-100" value={percentage} max="100"></progress>
    </div>
  </div>
</div>