---
/*
  Mukul's Personal Website is a Website
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import Themes from "@/components/Themes.astro";

import githubAlt from "@/assets/fontawesome/github-alt.svg?raw";
---

<nav class="navbar bg-base-100/50 sticky top-0 z-50 justify-between backdrop-blur md:justify-around">
  <a href="/" class="btn btn-ghost text-xl">Mukul's Space</a>
  <div class="flex gap-2">
    <a aria-label="Open Mukul's Github Page" href="//github.com/Mukul1127" target="_blank" class="btn btn-ghost flex gap-2">
      <div set:html={githubAlt} class="size-5 fill-current" />
      <p class="hidden sm:block">Github</p>
    </a>
    <Themes />
  </div>
</nav>
