---
/*
  Mukul's Personal Website is a Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import github from "@/assets/github.svg?raw";
import Themes from "@/components/Themes.astro";
---

<div class="sticky top-0 z-50 justify-between navbar bg-base-100/50 backdrop-blur md:justify-around">
  <a href="/" class="text-xl btn btn-ghost">Home</a>
  <div class="flex gap-2">
    <a href="//github.com/Mukul1127" target="_blank" class="flex gap-2 btn btn-ghost">
      <div class="w-5 h-5" set:html={github} />
      <p class="hidden md:block">Github</p>
    </a>
    <Themes />
  </div>
</div>