---
/*
  Mukul's Personal Website is a Personal Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

interface Props {
  name: string;
  description: string;
  year: string; 
  url?: string;
}

const { name, description, year, url } = Astro.props;

import linkout from "@/assets/linkout.svg?raw"
---

<div class="card w-full md:w-fit md:h-full max-w-96 bg-neutral text-neutral-content">
  <div class="card-body">
    <div class="flex justify-between items-center">
      <h2 class="card-title font-extrabold text-2xl">{ name }</h2>
      <div class="badge badge-accent font-semibold">{ year }</div>
    </div>
    <p class="text-balance">{ description }</p>
    { url ?
    <div class="card-actions justify-end">
      <a href={ url } target="_blank" class="btn btn-primary flex gap-2 items-center">
        See it
        <div class="w-4 h-4">
          <Fragment set:html={ linkout } />
        </div>
      </a>
    </div> 
    : "" }
  </div>
</div>