---
/*
  Mukul's Personal Website is a Personal Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

interface Props {
  name: string;
  description: string;
  year: string; 
  url?: string;
}

const { name, description, year, url } = Astro.props;
---

<div class="min-w-80 w-min h-full p-5 rounded-lg bg-gray-700 border border-gray-500 shadow-xl dark:bg-gray-900 dark:border-gray-800">
  <div class="flex justify-between items-center">
    <h5 class="text-3xl font-bold text-white">{ name }</h5>
    <span class="ml-6 bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{ year }</span>
  </div>
  <p class="text-gray-400 text-balance text-sm font-medium">{ description }</p>
  { url ? 
    <br />
    <a href={ url } class="gap-2 hover:scale-105 transition-transform inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-red-400 hover:bg-red-500 focus:ring-red-600">
      See it
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-5 w-5">
        <path fill="white" d="M384 32c35 0 64 29 64 64v320c0 35-29 64-64 64H64c-35 0-64-29-64-64V96c0-35 29-64 64-64h320zm-64 281V176c0-9-7-16-16-16H167a23 23 0 0 0-16 39l33 33-66 66a19 19 0 0 0 0 28l36 36a19 19 0 0 0 28 0l66-66 33 33c5 5 10 7 16 7 13 0 23-10 23-23z"/>
      </svg>
    </a> 
  : ""}
</div>
