---
/*
  Mukul's Personal Website is a Personal Website 
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

import { ViewTransitions } from "astro:transitions";

import favicon from "@/assets/favicon.svg";

import "@/styles/fonts.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mukul's Personal Website">
    <meta name="generator" content={ Astro.generator } />

    <link rel="icon" type="image/svg+xml" href={ favicon.src }>
    <title>{`${ title } - MK's Website`}</title>
    <ViewTransitions />
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>

<style>
  * {
    line-height: 1.5rem;

    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    font-feature-settings: "ss01", "cv05", "ss03", "case", "cv06", "cv11", "liga" 1, "calt" 1
  }
</style>